<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SistemaUniversitario" connectionString="Data Source=.\VICTORMORAN;Initial Catalog=SistemaUniversitario;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>